<!-- Education.ejs -->
<!-- Render education content using dummyCvState.education -->
<!-- education: [
    {
      schoolName: "Higher School of Computer Science and Technology",
      location: "Bejaia",
      degree: "Bachelor of Science",
      field: "Computer Science",
      endMonth: "May",
      endYear: "2018",
    },
  ], -->
<div class="education">
  <style>
    .education-item {
      margin-bottom: 10px;
    }
  </style>
  <%- include('Title', { title: "Education" ,color:color }) %> <%
  education.forEach((item)=>{%>
  <div class="education-item">
    <h2 class="sub-title">
      <%= item['schoolName'] %> - <%= item['location'] %>
    </h2>
    <p><%= item['endMonth'] %> <%= item['endYear'] %></p>
    <p><%= item['field'] %> (<%= item['degree'] %>)</p>
  </div>
  <%});%>
</div>
