<!-- Education.ejs -->
<!-- Render education content using dummyCvState.education -->
<!-- education: [
    {
      schoolName: "Higher School of Computer Science and Technology",
      location: "Bejaia",
      degree: "Bachelor of Science",
      field: "Computer Science",
      endMonth: "May",
      endYear: "2018",
    },
  ], -->
<div class="education">
  <style></style>
  <h2 class="title">Education</h2>
  <div class="education-item">
    <h2 class="sub-title">
      <%= education['schoolName'] %> - <%= education['location'] %>
    </h2>
    <p><%= education['endMonth'] %> <%= education['endYear'] %> </p>
    <p><%= education['field'] %> (<%= education['degree'] %>)</p>
  </div>
</div>
