<!-- Experience.ejs -->
<!-- Render job experience content using dummyCvState.jobExperience -->
<!-- jobExperience: [
    {
      jobTitle: "Software Developer",
      companyName: "ABC Tech",
      startMonth: "January",
      endMonth: "December",
      startYear: "2018",
      endYear: "2021",
      city: "New York",
      state: "NY",
      currentlyWorkHere: false,
      responsibility: "Developed and maintained web applications.",
    },
  ], -->

<div class="experiences">
  <style>
    .experience ul {
      margin-left: 20px;
    }
    .experience p{
      margin-bottom: 10px;
    }
  </style>
  <h2 class="title">Experiences</h2>
  <div class="experience">
    <h2 class="sub-title"> <%= jobExperience['jobTitle']   %> </h2>
    <p> <%= jobExperience['companyName'] %> </p>
    <p> <%= jobExperience['startMonth'] %> <%= jobExperience['startYear'] %> - <%= jobExperience['endMonth'] %> <%= jobExperience['endYear'] %> </p>
    <p> <%= jobExperience['city'] %> </p>
    <p> <%= jobExperience['state'] %> </p>
    <p> My primary responsibilities include: </p>
    <ul class="decorated-list">
      <li>
        <%= jobExperience['responsibility'] %>
      </li>
    </ul>
  </div>
</div>
